<ul class="list-unstyled">
    <% @tasks.each do |task| %>
    <li class="media mb-3">
              <img class="mr-2 rounded" src="<%= gravatar_url(task.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <span class="text-muted"><%= task.user.name %>posted at <%= task.created_at %></span>
        </div>
                <div>
          <p><%= task.content %> <%= task.status %><%= link_to "Delete", task, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm float-right' %><%= link_to "詳細", task, class: 'btn btn-primary btn-sm float-right' %> 
      </div>
    </li>
  <% end %>
  <%= paginate tasks %>
</ul>
 